$color_main:#ffd03f;
$b_border:1px solid #111111;
$color_wathet:#2fd2db;
$color_pink:#ff98c6;
$color_violet:#817ef8;

$main_bg:#4456a7;
$green_bg:#44a75e;
$red_bg:#a74444;
$black_bg:#474747;
$whilte0:rgba(255,255,255,0);
$whilte1:rgba(255,255,255,1);

$font:"lucida Grande",Verdana;
$art_font: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;


.header{
  height: 39px;
  width: 100vw;
  background:#fff;
  line-height:39px;
  text-align: center;
}

.homeContentStyle{
  color: #fff;
  font-size: 46px;
  margin-left: 30px;
  margin-top: 48px;
  font-family: erikos,Helvetica Neue,Helvetica,Arial,Hiragino Sans GB,Hiragino Sans GB W3,WenQuanYi Micro Hei,sans-serif;
}

.navBox{
  margin: 50px 0 0 50px;
}

.WorkImage{
  width: 38px;
  height: 38px;
}

.WorkTitle{
  color:#fff;
}

.text{
  //font-size: 106px;
  color:#ffff;
  line-height: 1.2;
  //padding-top: 54px;
  div{
    position: relative;
    z-index: 1;
    color: $whilte0;
    width: fit-content;
    strong{
      font-size:.6em;
      padding-left: 1rem;
    }
    &::before{
      content: '';
      position: absolute;
      width: 100%;
      height: 90%;
      transform: scaleX(0);
      transform-origin: left;
      top: 6%;
      left: 0;
      z-index: 2;
      background: $color_main
    }
    i{
      width: 2px;
      background: $whilte0;
      height: 80%;
      position: absolute;
      right: -16px;
      top: 5%;
      &.cursor{
        animation: cursoring 1s steps(1) infinite;
      }
    }
  }
}



.animate{
  animation: textAnimate 0.8s ease-in-out forwards;
  &::before{
    animation: bgAnimate 0.8s ease-in-out forwards;
  }
}

@keyframes cursoring{
  0%{background: $whilte1;}
  50%{background: $whilte0;}
  100%{background: $whilte1;}
}

@keyframes textAnimate{
  0%{
    color: $whilte0
  }
  40%{
    color: $whilte0
  }
  60%{
    color: $whilte1
  }
  100%{
    color: $whilte1
  }
}

@keyframes bgAnimate{
  0%{
    transform: scaleX(0);
    transform-origin: left;
  }
  40%{
    transform: scaleX(1);
    transform-origin: left;
  }
  60%{
    transform: scaleX(1);
    transform-origin: right;
  }
  100%{
    transform: scaleX(0);
    transform-origin: right;
  }
}
